table tr th{
    text-transform: capitalize;
}
table tr td{
    text-transform: capitalize;
}
iframe{
    width: 100% !important;
    height: 100% !important;
}
.modalShow{
    z-index:6 !important;
    position: absolute;
    left: 30%;
    top: 5%;
    width: 40%;
}
.modalKuryer{
    z-index:6 !important;
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    background-color:white;
    width: 800px;
    padding: 5px;
    border-radius:20px;
}






